body{
    margin: 0;
}
.cabecalho, .rsocial, .rodape{
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    justify-content: center;
    border-color: rgb(22, 22, 22);
}
.rodape{
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
}
.parent {
    height: 100vh;
    margin: 10px 200px 10px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 7px;
}
.parent div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.div1 {
    grid-area: 1 / 1 / 2 / 3;
    background-image: url('imagens/Everest.jpg');
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url('imagens/AlpesSuiços.jpg');
}
.div3 {
    grid-area: 2 / 2 / 3 / 3;
    background-image: url('imagens/GrandCanyon.jpg');
}
.div4 {
    grid-area: 1 / 3 / 3 / 4;
    background-image: url('imagens/MonteFuji.jpg');
}
.div5 {
    grid-area: 3 / 1 / 5 / 2;
    background-image: url('imagens/MonteBranco.jpg');
}
.div6 {
    grid-area: 3 / 2 / 4 / 4;
    background-image: url('imagens/MonteElbrus.jpg');
}
.div7 {
    grid-area: 4 / 2 / 5 / 3;
    background-image: url('imagens/PicoPikes.jpg');
}
.div8 {
    grid-area: 4 / 3 / 5 / 4;
    background-image: url('imagens/Huandoy.jpg');
}